main.main
	.container
		.breadcrumbs
			ul
				li
					a(href="/") Главная
				li
					span.breadcrumbs__arrow
				li
					a(href="") Каталог
				li
					span.breadcrumbs__arrow
				li
					span Сеятель (червонец), золото, 7,74г, 1975-1982 г.
		.product
			.product__flex
				.product__left
					h1.h1 Сеятель (червонец), золото, 7,74г, 1975-1982 г.
					.product-slider
						.badge.badge_new Новинка
						.product-slider_for
							.slide
								img(src="./img/coin.png" alt="")
							.slide
								img(src="./img/coin.png" alt="")
							.slide
								img(src="./img/coin.png" alt="")
							.slide
								img(src="./img/coin.png" alt="")
							.slide
								img(src="./img/coin.png" alt="")
							.slide
								img(src="./img/coin.png" alt="")
						.product-slider_nav
							.slide-min
								img(src="img/coin.png" alt="")
							.slide-min
								img(src="img/coin.png" alt="")
							.slide-min
								img(src="img/coin.png" alt="")
							.slide-min
								img(src="img/coin.png" alt="")
							.slide-min
								img(src="img/coin.png" alt="")
							.slide-min
								img(src="img/coin.png" alt="")

				.product__right
					a.favorite-link(href="") В избранное
					.product__top 
						.product__price 51 000 ₽  
						.product__buttons 
							.count
								span.count__minus
								.count__info
									input.count__prod(type="number" name="" value="1")
								span.count__plus
							a.button.button_buy(href="") Купить
						.product__params.params 
							.params__item 
								.params__name Премия к бирже
								.params__value 17%
							.params__item 
								.params__name Цена за унцию
								.params__value 155 000 ₽  
							.params__item 
								.params__name SPRED
								.params__value 18%
					.product__opt.opt
						.opt__title Оптовый прайс-лист
						table.opt__table 
							thead 
								tr 
									th Кол-во
									th Оплата наличными
									th Оплата картой
									th Оплата по счёту
							tbody 
								tr 
									td 1 - 9
									td 51 000 ₽
									td 50 500 ₽
									td 50 700 ₽
								tr 
									td 10 - 19
									td 50 500 ₽
									td 50 700 ₽
									td 50 800 ₽
								tr 
									td 20 - 99
									td 50 000₽
									td 49 500 ₽
									td 49 700 ₽
								tr 
									td 100+
									td 49 500 ₽
									td 49 300₽
									td 49 500 ₽
					.product__to-buy.to-buy
						.to-buy__name AURUMEX может выкупить у вас такую монету в отличном состоянии по цене 
						.to-buy__desc 
							.to-buy__text 
								span от 
								| 31 000 ₽  
							a.button-bordered(href="") Подать завявку

			.product__option-tab 
				.product__tabs.tabs 
					ul 
						li Характеристики
						li Описание монеты
						li Дополнительная информация
					div 
						div 
							
								.product-options
									.product-options__option
										.product-options__name Тип монеты
										.product-options__value инвестиционные
									.product-options__option
										.product-options__name Диаметр монеты
										.product-options__value 30.0 мм
									.product-options__option
										.product-options__name Металл
										.product-options__value золото
									.product-options__option
										.product-options__name Толщина монеты
										.product-options__value 2 мм
									.product-options__option
										.product-options__name Проба
										.product-options__value 999
									.product-options__option
										.product-options__name Страна-эмитент
										.product-options__value Россия
									.product-options__option
										.product-options__name Вес металла
										.product-options__value 15,5 гр
									.product-options__option
										.product-options__name Год выпуска
										.product-options__value 2021
									.product-options__option
										.product-options__name Общий вес монеты
										.product-options__value 17 гр
									.product-options__option
										.product-options__name Качество чеканки
										.product-options__value UNC
									.product-options__option
										.product-options__name Номинал монеты
										.product-options__value 49 300 ₽
									.product-options__option
										.product-options__name Тираж выпуска
										.product-options__value 10 000 шт.
						div 
							p Российская инвестиционная монета «Сеятель (червонец)» - одна из самых распространенных инвестиционных монет нашей страны, которая стала выпускаться с февраля 2006 года.
							p Является прекрасным средством вложения, которое может не только сберечь, но и приумножить капитал вкладчика.
							p Отметим, что реальная стоимость монеты в значительно выше обозначенного номинала.
							p Вы можете существенно сэкономить, покупая целую партию монет.
						div 
							p Св. Георгий Победоносец — христианский святой.
							p Начиная с XIII века на Руси и в соседних с ним государствах изображение Георгия Победоносца использовалось в качестве элементов государственной символики — на княжеских печатях, штандартах, гербах, монетах.
							p Изображение Георгия Победоносца было элементом государственного герба Российской империи, присутствует оно и на государственном гербе Российской Федерации.
				.divider
				.advantages
					.advantages__item
						.advantages__icon
							img(src="./img/advantages1.svg" alt="")
						.advantages__text 
							.advantages__name Всегда в наличии большой выбор
							| Если вам потребуется партия сразу из 1000 монет, без проблем доставим их в офис банка.
					.advantages__item
						.advantages__icon
							img(src="./img/advantages2.svg" alt="")
						.advantages__text 
							.advantages__name Гарантируем подлинность
							| Эксперты тщательно проверяют подлинность и состояние каждой монеты.
					.advantages__item
						.advantages__icon
							img(src="./img/advantages3.svg" alt="")
						.advantages__text 
							.advantages__name Подписываем договор
							| Придерживаемся принципов открытости и честности, поэтому с каждым клиентом заключаем договор.


	.section-catalog 
		.container 
			.h2 Похожие монеты
			.catalog-slider 
				.catalog__item
						.badge.badge_new Новинка
						a.catalog__to-cart(href="")
						a.catalog__to-favorite(href="")
						a.catalog__img(style='background-image:url(./img/coin.png)')
						a.catalog__name(href="") Серебряная монета Руанды "Год Быка" 2009 г.в., 93.3 г чистого серебра 
						.catalog__price 4 900 ₽  
						.catalog__info Премия к бирже 
							span 17%
						.catalog__desc
							.catalog__desc-head-tr
								.catalog__desc-td Кол-во
								.catalog__desc-td Цена
							.catalog__desc-tr
								.catalog__desc-td 1-9
								.catalog__desc-td 5 000 ₽
							.catalog__desc-tr
								.catalog__desc-td 10-24
								.catalog__desc-td 4 980 ₽
							.catalog__desc-tr
								.catalog__desc-td 25+
								.catalog__desc-td 4 900 ₽
				.catalog__item
						.badge.badge_best Рекомендуем
						a.catalog__to-cart.active(href="")
						a.catalog__to-favorite.active(href="")
						a.catalog__img(style='background-image:url(./img/coin.png)')
						a.catalog__name(href="") Серебряная монета Руанды "Год Быка" 2009 г.в., 93.3 г чистого серебра 
						.catalog__price 4 900 ₽  
						.catalog__info Премия к бирже 
							span 17%
						.catalog__desc
							.catalog__desc-head-tr
								.catalog__desc-td Кол-во
								.catalog__desc-td Цена
							.catalog__desc-tr
								.catalog__desc-td 1-9
								.catalog__desc-td 5 000 ₽
							.catalog__desc-tr
								.catalog__desc-td 10-24
								.catalog__desc-td 4 980 ₽
							.catalog__desc-tr
								.catalog__desc-td 25+
								.catalog__desc-td 4 900 ₽
				.catalog__item
						a.catalog__to-cart(href="")
						a.catalog__to-favorite(href="")
						a.catalog__img(style='background-image:url(./img/coin.png)')
						a.catalog__name(href="") Серебряная монета Руанды "Год Быка" 2009 г.в., 93.3 г чистого серебра 
						.catalog__price 4 900 ₽  
						.catalog__info Премия к бирже 
							span 17%
						.catalog__desc
							.catalog__desc-head-tr
								.catalog__desc-td Кол-во
								.catalog__desc-td Цена
							.catalog__desc-tr
								.catalog__desc-td 1-9
								.catalog__desc-td 5 000 ₽
							.catalog__desc-tr
								.catalog__desc-td 10-24
								.catalog__desc-td 4 980 ₽
							.catalog__desc-tr
								.catalog__desc-td 25+
								.catalog__desc-td 4 900 ₽
				.catalog__item
						.badge.badge_hit Хит продаж
						a.catalog__to-cart(href="")
						a.catalog__to-favorite(href="")
						a.catalog__img(style='background-image:url(./img/coin.png)')
						a.catalog__name(href="") Серебряная монета Руанды "Год Быка" 2009 г.в., 93.3 г чистого серебра 
						.catalog__price 4 900 ₽  
						.catalog__info Премия к бирже 
							span 17%
						.catalog__desc
							.catalog__desc-head-tr
								.catalog__desc-td Кол-во
								.catalog__desc-td Цена
							.catalog__desc-tr
								.catalog__desc-td 1-9
								.catalog__desc-td 5 000 ₽
							.catalog__desc-tr
								.catalog__desc-td 10-24
								.catalog__desc-td 4 980 ₽
							.catalog__desc-tr
								.catalog__desc-td 25+
								.catalog__desc-td 4 900 ₽
				- for (var x = 0; x < 3; x++)
					.catalog__item
						a.catalog__to-cart(href="")
						a.catalog__to-favorite(href="")
						a.catalog__img(style='background-image:url(./img/coin.png)')
						a.catalog__name(href="") Серебряная монета Руанды "Год Быка" 2009 г.в., 93.3 г чистого серебра 
						.catalog__price 4 900 ₽  
						.catalog__info Премия к бирже 
							span 17%
						.catalog__desc
							.catalog__desc-head-tr
								.catalog__desc-td Кол-во
								.catalog__desc-td Цена
							.catalog__desc-tr
								.catalog__desc-td 1-9
								.catalog__desc-td 5 000 ₽
							.catalog__desc-tr
								.catalog__desc-td 10-24
								.catalog__desc-td 4 980 ₽
							.catalog__desc-tr
								.catalog__desc-td 25+
								.catalog__desc-td 4 900 ₽

	