footer.footer
//- 	.container
//- 		.footer__top
//- 			.footer__menu
//- 				+list-links('Все о бизнесе', 'Все о фризерах', 'Новости 2023', 'Популярное & WOW!', 'Отзывы', 'Контакты', 'Контейнерная закупка фризеров из Китая')
//- 		.footer__middle
//- 			.logo.footer__logo 
//- 				a(href="/")
//- 					img(src="./img/logo.svg" alt="")
//- 			a.footer__contact(href="tel:+79228242785")
//- 				+svg("black-phone")
//- 				| +7 922 824-27-85
//- 			a.footer__contact(href="mailto:biznesfishka@list.ru")
//- 				+svg("black-mail")
//- 				| biznesfishka@list.ru
//- 			.socials 
//- 				a(href="")
//- 					+svg("telegram")
//- 					span Telegram
//- 				a(href="")
//- 					+svg("whatsapp")
//- 					span Whatsapp
//- 		.footer__bottom
//- 			.footer__politics
//- 				a(href="") Политика конфиденциальности
//- 			.footer__copyright © 2023





script(src="./libs/js/jquery.min.js")
script(src="./libs/js/lightTabs.js")
script(src="./libs/js/jquery.maskedinput.js")
script(src="./libs/slick/slick.js")
script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
script(src="./js/main.js")