.bg-menu

header.header
	.header__info.info
		.container
			.info__refresh Обновлено в 12:30
			.info__courses
				.course
					.course__name Золото
					.course__price ₽ 1,711.80
					.course__diff.course__diff_up (₽ 20)
				.course
					.course__name Серебро
					.course__price ₽ 1,711.80
					.course__diff.course__diff_down (₽ 19)
				.course
					.course__name Доллар
					.course__price ₽  76,81
					.course__diff.course__diff_up (₽ 0,69)
				.course
					.course__name Евро
					.course__price ₽ 96,29
					.course__diff.course__diff_up (₽ 0,24)
	.header__top
		.container
			.top-menu
				+list-links('О компании','Программа лояльности','Выкуп монет','Обучение для новичков','Новости')
			.header__stars.stars
				span.stars__count 5,0
				span.stars__from на Авито
			.header__stars.stars
				span.stars__count 4,9
				span.stars__from на Яндекс
			a.header__phone(href="tel:+74952696999") +7 (495) 269-69-99
	.header__bottom 
		.container 
			a.logo(href="/index.html")
				img(src="./img/logo.svg" alt="")
			nav.menu 
				+list-links('Каталог','Золото','Серебро','Акции','Доставка и оплата','Контакты')
			a.header__search(href="")
			a.header__link(href="")
				span.header__count 3
				+svg("heart")
			a.header__link(href="")
				span.header__count 15
				+svg("cart")
			a.button.button_login(href="")
				+svg("arrow-login")
				| Войти 
			.hamburger.hamburger--squeeze.js-hamburger
				.hamburger-box
					.hamburger-inner
	//- .container
	//- 	.header__top
	//- 		a.logo(href="/index.html")
	//- 			span.logo__info 
	//- 				span Всё знаем о фризерах 
	//- 				span и не молчим!
	//- 			img.logo__img(src="./img/logo.svg" alt="")
	//- 			span.logo__text Народный портал о бизнесе на мороженом
	//- 		.header__buttons
	//- 			a.button-callback(href="") Записаться на консультацию
	//- 			a.button-callback(href="") Стать партнером
	//- 		.header__links
	//- 			a.header__link(href="")
	//- 				+svg("compare")
	//- 			a.header__link(href="")
	//- 				+svg("heart")
	//- 			a.header__link(href="")
	//- 				+svg("user")
	//- 			a.header__link(href="")
	//- 				+svg("cart")
	//- 		.hamburger.hamburger--squeeze.js-hamburger
	//- 			.hamburger-box
	//- 				.hamburger-inner
	//- 	nav.nav-menu
	//- 		ul.nav-menu__list 
	//- 			li.nav-menu__item.nav-menu__subitem
	//- 				a(href="") Все о бизнесе
	//- 					+svg("triangle-down")
	//- 				ul.nav-menu__sublist
	//- 					li.nav-menu__item
	//- 						a(href="") Все о бизнесе
	//- 					li.nav-menu__item
	//- 						a(href="") Все о бизнесе
	//- 					li.nav-menu__item
	//- 						a(href="") Все о бизнесе
	//- 			li.nav-menu__item.nav-menu__subitem
	//- 				a(href="") Все о фризерах
	//- 					+svg("triangle-down")
	//- 				ul.nav-menu__sublist
	//- 					li.nav-menu__item
	//- 						a(href="") Все о фризерах
	//- 					li.nav-menu__item
	//- 						a(href="") Все о фризерах
	//- 					li.nav-menu__item
	//- 						a(href="") Все о фризерах
	//- 			li.nav-menu__item
	//- 				a(href="") Новости 2023
	//- 			li.nav-menu__item
	//- 				a(href="") Популярное & WOW!
	//- 			li.nav-menu__item
	//- 				a(href="") Отзывы
	//- 			li.nav-menu__item
	//- 				a(href="") Контакты
	//- 			li.nav-menu__item
	//- 				a(href="") Контейнерная закупка фризеров из Китая
		
