header.header
	.header__info.info
		.container
			.info__refresh Обновлено в 12:30
			.info__courses
				.course
					.course__name Золото
					.course__price ₽ 1,711.80
					.course__diff.course__diff_up (₽ 20)
				.course
					.course__name Серебро
					.course__price ₽ 1,711.80
					.course__diff.course__diff_down (₽ 19)
				.course
					.course__name Доллар
					.course__price ₽  76,81
					.course__diff.course__diff_up (₽ 0,69)
				.course
					.course__name Евро
					.course__price ₽ 96,29
					.course__diff.course__diff_up (₽ 0,24)
	.header__top
		.container
			.top-menu
				+list-links('О компании','Программа лояльности','Выкуп монет','Обучение для новичков','Новости')
			.header__stars.stars
				span.stars__count 5,0
				span.stars__from на Авито
			.header__stars.stars
				span.stars__count 4,9
				span.stars__from на Яндекс
			a.header__phone(href="tel:+74952696999") +7 (495) 269-69-99
	.header__bottom 
		.container 
			a.logo(href="/index.html")
				img(src="./img/logo.svg" alt="")
			nav.menu 
				+list-links('Каталог','Золото','Серебро','Акции','Доставка и оплата','Контакты')
			a.header__search(href="")
			a.header__link(href="")
				span.header__count 3
				+svg("heart")
			a.header__link(href="")
				span.header__count 15
				+svg("cart")
			a.button.button_login(href="")
				+svg("arrow-login")
				| Войти 
			.hamburger.hamburger--squeeze.js-hamburger
				.hamburger-box
					.hamburger-inner
	