*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 10px;

  @media (max-width: 1520px) {
    font-size: 9px;
  }
  @media (max-width: 1400px) {
    font-size: 8px;
  }
  @media (max-width: 1240px) {
    font-size: 8px;
  }
  @media (max-width: 992px) {
    font-size: 10px;
  }
}
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  font-family: $font;
  font-weight: 400;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  height: 100%;
  color: $color-text;
  font-size: 1.4rem;
  line-height: 1.4;
  min-height: 100vh;

  @media (max-width: 767px) {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}
.adaptive_video {
  position: relative;
  padding-bottom: 56.25%;
}

.adaptive_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
textarea {
  resize: none;
}
:active,
:focus {
  outline: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}
.container {
  max-width: 125rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.page-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.h1 {
  margin: 0;
  padding: 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;
  margin-bottom: 2.4rem;
  @media (max-width: 767px) {
    // font-size: 3.5rem;
    // margin-top: 1.4rem;
    // margin-bottom: 2.6rem;
  }
}
.h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.8rem;
  margin-bottom: 2rem;

  @media (max-width: 767px) {
    font-size: 2.5rem;
  }
}
.main {
  flex: 1;
}

.breadcrumbs {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-bottom: 2.4rem;
  ul {
    display: flex;
    gap: 0.4rem;
    @include ulClean;
    max-width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: center;
    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
    }

    li {
      white-space: nowrap;
      a {
        display: block;
        color: #71717a;
        &:hover {
          text-decoration: underline;
        }
      }

      span {
        color: $color-primary;
        display: block;
        &.breadcrumbs__arrow {
          width: 1.6rem;
          height: 1.6rem;
          background: url(../img/ep_arrow-right.svg) center no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.count {
  display: flex;
  align-items: center;
  &__minus,
  &__plus {
    width: 4rem;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  &__minus {
    border-radius: 0.4rem 0px 0px 0.4rem;
    border: 1px solid #e4e4e7;
    background: url(../img/minus.svg) center no-repeat #f6f7f9;
  }
  &__plus {
    border-radius: 0px 0.4rem 0.4rem 0px;
    border: 1px solid #e4e4e7;
    background: url(../img/plus.svg) center no-repeat #f6f7f9;
  }
  &__minus:hover,
  &__plus:hover {
    background-color: #e4e4e7;
  }
  &__prod {
    width: 7.2rem;
    height: 4.4rem;
    border: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    border: 1px solid #e4e4e7;
  }
}
.badge {
  height: 2.6rem;
  @include flexcc;
  display: inline-flex;
  padding: 0 1.2rem;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: 500;

  &_new {
    background-image: url(../img/badge-new.svg);
  }
  &_best {
    background-image: url(../img/badge-best.svg);
  }
  &_hit {
    background-image: url(../img/badge-hit.svg);
  }
  &_out {
    background-image: url(../img/badge-out.svg);
  }
}

.pagination {
  ul {
    @include ulClean;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
    margin-top: 6.3rem;
    li {
      a {
        @include flexcc;
        font-weight: 600;
        border-radius: 1rem;
        border: 1px solid #e4e4e4;
        background: #ecedf5;
        width: 3.8rem;
        height: 3.8rem;
        color: $color-text;
        @include tr;
        &.active,
        &:hover {
          background: $color-primary;
          font-weight: 600;
          color: #fff;
        }
      }
      &.angle-double {
        a {
          width: 7.1rem;
          svg {
            @include wh(1.1rem);
          }
          &.active,
          &:hover {
            svg {
              @include filter-to-white;
            }
          }
        }
      }
    }
  }
}

.tabs {
  ul {
    @include ulClean;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    gap: 2.4rem;
    &:after {
      content: '';
      border-bottom: 1px solid #e4e4e7;
      width: 100%;
      position: absolute;
      top: 2.9rem;
    }
    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
    }
    li {
      padding-bottom: 1.3rem;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1;
      @include tr;
      cursor: pointer;
      color: #71717a;
      position: relative;
      white-space: nowrap;
      &.active {
        color: $color-primary;
        &:after {
          content: '';
          display: block;
          width: 100%;
          bottom: 0;
          left: 0;
          position: absolute;
          border-bottom: 1px solid $color-primary;
        }
      }
      @media (max-width: 992px) {
        width: 50%;
      }
      @media (max-width: 767px) {
        // font-size: 1.4rem;
      }
    }
  }
  > div {
    padding-top: 3.2rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 22px;
    position: relative;

    @media (max-width: 767px) {
      font-size: 1.4rem;
      line-height: 1.2;
    }
    p {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;

      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }
  }
}
